@import './loader.css';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Rubik', sans-serif;
	scroll-behavior: smooth;
	color: #000;
}

.container {
	max-width: 90%;
	width: 100%;
	margin: 0 auto;
	padding: 0.5rem 0.5rem;
	box-sizing: border-box;
}

header {
	background-color: #fff;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 1.5rem;
	box-sizing: border-box;
}

nav.sticky {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 1rem 2rem;
	z-index: 2;
	background-color: #fff;
	animation: fadeIn 0.5s ease-in-out;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	overflow: hidden;
}

nav .wood-craft {
	font-weight: 500;
	font-size: 22px;
	text-decoration: none;
}

.menu-toggle {
	position: relative;
}

.menu-toggle .fa-shopping-cart {
	font-size: 1.3rem;
	color: #000;
	cursor: pointer;
}

.menu-toggle .circle {
	position: absolute;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: rgb(221, 9, 9);
	top: -5px;
	right: -10px;
	text-align: center;
	color: white;
	font-size: 12px;
	transform: scale(1);
}

.circle.num {
	animation: scale 0.7s ease-in-out;
}

.jumbotron-img {
	min-width: 220px;
	max-width: 500px;
	width: 100%;
	margin: 0 auto;
	display: block;
	padding: 1.5rem 0 0.3rem 0;
}

.best-seller {
	font-weight: 400;
	letter-spacing: 0.1rem;
	margin-bottom: 0.5rem;
	text-transform: uppercase;
}

.jumbotron-h1 {
	font-weight: 500;
	font-size: 1.7rem;
	margin-bottom: 0.3rem;
}

.jumbotron-p {
	font-weight: 100;
	font-size: 1rem;
}

.jumbotron-button {
	margin: 1.5rem 0;
	display: block;
	width: 140px;
	text-align: center;
	text-decoration: none;
	color: #000;
	border: 1px solid black;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 0.5px;
	padding: 0.6rem 0.5rem;
	cursor: pointer;
}

.jumbotron-button:hover {
	background-color: #000;
	color: white;
	transition: all 0.2s ease;
}

section#card-product {
	background-color: #fff;
}

.cards {
	display: flex;
	justify-content: center;
	width: 70%;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.card {
	box-sizing: border-box;
	height: 350px;
	padding: 1rem;
	margin-top: 3rem;
}
.card .card-img1 {
	max-width: 178px;
	width: 100%;
	margin: 0 auto;
	display: block;
	object-fit: cover;
}
.card .card-img2 {
	max-width: 120px;
	width: 100%;
	margin: 0 auto;
	display: block;
	object-fit: cover;
}
.card .card-img3 {
	max-width: 200px;
	margin: 0 auto;
	display: block;
	object-fit: cover;
	width: 100%;
}

.card h1 {
	margin: 0 auto;
	padding: 1rem 0 0.5rem 0;
	font-weight: 500;
	font-size: 20px;
	text-align: center;
}

.card h2 {
	margin: 0 auto;
	padding: 0 0.5rem 1rem 0.5rem;
	width: 180px;
	font-size: 18px;
	font-weight: 300;
	text-align: center;
}

.card .card-button {
	display: block;
	width: 100px;
	color: #000;
	border: 1px solid #000;
	padding: 0.6rem 0.5rem;
	margin: 0 auto;
	text-align: center;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 13px;
}

.card-button:hover {
	background-color: #000;
	color: white;
	transition: all 0.2s ease;
}

.cards .tiga {
	margin-bottom: 3rem;
}

/* MODAL */

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	transition: all 200ms ease-in-out;
	background-color: #fff;

	min-width: 80%;
	max-width: 80%;

	z-index: 10;
	box-sizing: border-box;
	padding: 1.5rem;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.modal.active {
	transform: translate(-50%, -50%) scale(1);
}

.modal-header .card-img1 {
	max-width: 180px;
	width: 100%;
	margin: 0 auto;
	display: block;
	object-fit: cover;
	transition: all 200ms ease-in-out;
}
.modal-header .card-img2 {
	max-width: 120px;
	width: 100%;
	margin: 0 auto;
	display: block;
	object-fit: cover;
	transition: all 200ms ease-in-out;
}
.modal-header .card-img3 {
	max-width: 200px;
	margin: 0 auto;
	display: block;
	object-fit: cover;
	width: 100%;
	transition: all 200ms ease-in-out;
}

.modal-header .fa-times {
	display: block;
	text-align: right;
	font-size: 1.2rem;
	cursor: pointer;
}

.modal .modal-body {
	margin: 0.5rem 0;
}

.title-prod h2 {
	font-weight: 500;
	font-size: 22px;
}

.title-prod h3 {
	margin-bottom: 0.2rem;
	font-weight: 400;
	font-size: 20px;
}
.modal-body .description {
	text-align: left;
	margin: 0.5rem 0 1rem 0;
	font-weight: 300;
	overflow: hidden;
}

.description p {
	font-weight: 100;
	font-size: 1rem;
}

.modal-body .add-to-cart {
	display: flex;
	justify-content: space-evenly;
	max-width: 200px;
	width: 200px;
	margin: 0 auto;
	cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

input#quantity {
	width: 30px;
	height: 30px;
	text-align: center;
	box-sizing: border-box;
}

.modal-body .cart {
	background-color: #000;
	display: flex;
	align-items: center;
	padding: 1rem;
	box-sizing: border-box;
	height: 30px;
	color: #fff;
	justify-content: space-between;
	text-transform: uppercase;
	font-size: 13px;
}

.modal-body .cart .fa-shopping-cart {
	color: #fff;
	margin-left: 0.5rem;
}

#overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	transition: 200ms ease-in-out;
	pointer-events: none;
	z-index: 2;
}

#overlay.active {
	opacity: 1;
	pointer-events: all;
}

.notification {
	position: fixed;
	top: 4.5rem;
	left: 50%;
	transform: translateX(-50%) translateY(-500%);
	transition: all 0.2s ease-in-out;
	background-color: #fff;
	padding: 0.5rem 1rem;
	color: black;
	box-sizing: border-box;
	border-radius: 0.5rem;
	width: 300px;
	/* border: 1px solid black; */
	/* box-shadow: 0 0 25px rgba(0, 0, 0, 0.2); */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1;
}

.notification.active {
	transform: translateX(-50%) translateY(0);
	overflow: hidden;
}

.notification .name-brand {
	font-weight: 500;
	color: black;
}
.notification .message {
	color: black;
	font-weight: 400;
}

.notification .fa-check-circle {
	font-size: 22px;
	color: black;
}

.cart-page {
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%) translateY(100%);
	transition: all 0.5s ease-in-out;
	background-color: #fff;
	/* border: 1px solid black; */
	min-width: 350px;
	max-width: 700px;
	max-height: 85%;
	min-height: 50%;
	/* overflow: auto; */
	/* width: 100%; */
	z-index: 0;
	box-sizing: border-box;
	padding: 1.5rem;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	border-top-right-radius: 1rem;
	border-top-left-radius: 1rem;
	z-index: 9;
}

.cart-page.active {
	transform: translateX(-50%) translateY(0);
}

.cart-page .cart-page-header {
	display: flex;
	justify-content: space-between;

	border-bottom: 0.5px solid #181818;
	padding: 0rem 0 1rem 0;
}

.cart-page-header h3 {
	font-size: 20px;
	font-weight: 500;
}

.cart-page-header .fa-chevron-down {
	font-size: 1.2rem;
	cursor: pointer;
}

input#cart-check {
	width: 15px;
	height: 15px;
}
.cart-page-body .cart-1 {
	display: flex;

	justify-content: space-around;
	align-items: center;
	box-sizing: border-box;
	padding: 0.2rem 0 0.2rem 0;
	border-radius: 0.5rem;
	margin-top: 1rem;
}

.cart-1 .item {
	width: 100px;
}

.item img {
	display: block;
	margin: 0 auto;
}
.cart-1 .item-detail {
	min-width: 170px;
}

.item-detail input#quantity {
	margin-top: 0.5rem;
	width: 20px;
	height: 20px;
	text-align: center;
	box-sizing: border-box;
	overflow: visible;
}

.cart-status {
	margin: 1rem 0;
}

.cart-status.active {
	display: none;
}
.checkout-button {
	border: 1px solid black;
	text-align: center;
	padding: 0.5rem 0;
	background-color: #000;
	color: white;
	cursor: pointer;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
	display: none;
	text-transform: uppercase;
	font-size: 15px;
	letter-spacing: 0.02rem;
}

.checkout-button a {
   text-decoration: none;
   color: #fff;
   display: block;
}
.delete-button {
	border: 1px solid black;
	text-align: center;
	padding: 0.5rem 0;
	letter-spacing: 0.05rem;
	color: black;
	cursor: pointer;
	display: none;
	text-transform: uppercase;
	font-size: 15px;
	letter-spacing: 0.02rem;
}

.delete-button a {
   text-decoration: none;
   color: #000;
   display: block;
}

.checkout-button.active {
	display: block;
}

.delete-button.active {
	display: block;
}

section#redeem {
	margin: 1rem 0 5rem 0;
}

section#redeem h1 {
	margin: 0 auto;
	display: block;
	text-align: center;
	font-weight: 500;
}

.redeem-title {
	padding-bottom: 1.5rem;
}

.input-redeem {
	margin: 1.5rem auto;
	max-width: 500px;
	width: 100%;
	position: relative;
}

#redeem-code {
	margin: 0 auto;
	display: block;
	max-width: 500px;
	width: 100%;
	padding: 0.6rem 0;
	border-radius: 1rem;
	border: 1px solid black;
	text-align: center;
	font-size: 17px;
	color: black;
}
#redeem-code:focus {
	outline: none;
}

.fa-telegram-plane {
	position: absolute;
	right: 0.5rem;
	top: 0.6rem;
	z-index: 0;
	cursor: pointer;
	font-size: 20px;
}

.testimonials {
	display: flex;

	justify-content: space-evenly;

	position: relative;
	height: 200px;
}

.testimonial-title {
	text-align: center;
	margin-bottom: 1.5rem;
}

.testi {
	text-align: center;
	padding: 1rem;
	background-color: rgb(255, 255, 255);
	min-width: 300px;
	max-width: 350px;
	max-height: 110px;
	display: none;
}

.testi h1 {
	font-size: 1.1rem;
	margin: 0.5rem auto;
	font-weight: 500;
}
.testi p {
	margin: 0 auto;
	font-size: 1rem;
}

.testi.active {
	display: block;
	animation: fadeIn 0.5s ease-in-out;
	animation: fadeOut 0.5s ease-in-out;
}

section#payment {
	margin-bottom: 5rem;
}

.payment-logo {
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.payment-logo img {
	max-width: 200px;
}

footer {
	text-align: center;
	background-color: #141414;
	padding: 1rem 0;
}

footer p {
	color: white;
}

@media screen and (min-width: 900px) {
	.jumbotron-cont {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
	}

	.jumbotron-h1 {
		font-size: 2rem;
	}
	.jumbotron-p {
		max-width: 500px;
		font-size: 1rem;
	}

	nav.sticky {
		padding: 1rem 3rem;
	}

	.modal {
		min-width: 40%;
		max-width: 40%;
	}

	.cart-page {
		min-width: 500px;
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
@keyframes fadeOut {
	100% {
		opacity: 1;
	}

	0% {
		opacity: 0;
	}
}

@keyframes scale {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.2);
	}
}
