@import './style.css';

section#login {
   height: 100vh;
   background-color: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
}

.login-wrapper{
   /* border: 1px solid black; */
   max-width: 400px;
   height: 350px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.login-content{
   /* border: 1px solid black; */
   padding: 3rem;
   /* height: 300px; */
}

.login-content h1{
   font-size: 25px;
   margin-bottom: 1.6rem;
}

.login-content input {
   display: block;
   padding: .25rem .3rem;
   width: 220px;
   margin: .5rem 0;
   font-size: 1rem;
   font-weight: 400;
}

.login-content .login-button {
   text-align: center;
	text-decoration: none;
   color: #fff;
   background-color: #000;
	border: 1px solid black;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 0.5px;
	padding: 0.6rem 0.5rem;
   cursor: pointer;
   display: block;
   margin-top: 1.5rem;
}

.login-content p {
   width: 220px;
   margin-top: 1.2rem;
   font-weight: 400;
   font-size: .9rem;
}
